@page "/fetchdata"
@using Hsf.ApplicatonProcess.August2020.Blazor.Shared
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h1>Applicant</h1>

@if (applicants == null || !applicants.Any())
{
    <p><em>There's no applicants in database yet...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Family name</th>
                <th>Address</th>
                <th>Country of origin</th>
                <th>Email address</th>
                <th>Age</th>
                <th>Hired</th>
                <th>Delete</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var applicant in applicants)
            {
                <tr>
                    <td>@applicant.Id</td>
                    <td>@applicant.Name</td>
                    <td>@applicant.FamilyName</td>
                    <td>@applicant.Address</td>
                    <td>@applicant.CountryOfOrigin</td>
                    <td>@applicant.EmailAddress</td>
                    <td>@applicant.Age</td>
                    <td>@bool.Parse(applicant.Hired.ToString())</td>
                    <td><button class="btn btn-danger" id="@applicant.Id" @onclick="async () => await OnDeleteClick(applicant.Id)">Delete</button></td>
                    <td><button class="btn btn-success" @onclick="() => OnEditClick(applicant.Id)">Edit</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Applicant[] applicants;

    protected override async Task OnInitializedAsync()
    {
        applicants = await Http.GetFromJsonAsync<Applicant[]>("Applicant/Get");
    }

    private async Task OnDeleteClick(int id)
    {
        var result = await Http.DeleteAsync($"Applicant/Delete?id={id}");
        NavigationManager.NavigateTo("/FetchData");
    }

    private void OnEditClick(int id)
    {
        NavigationManager.NavigateTo($"editdata?id={id}");
    }
}
